 .u-section-1 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) no-repeat 50% 50% / cover;
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 665px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  line-height: 1.4;
  margin: 140px 0 0;
}

.u-section-1 .u-text-2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  font-size: 3rem;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  font-size: 1.875rem;
  line-height: 1.4;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 21px auto 0;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px auto 43px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 548px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 420px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 315px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 198px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 827px;
}

.u-section-2 .u-text-1 {
  margin: 88px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin: 34px auto 0;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(25% - 7.5px);
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 328px;
  --gap: 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 3px;
}

.u-section-2 .u-image-1 {
  height: 196px;
  width: 205px;
  margin: 18px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 23px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 30px 3px;
}

.u-section-2 .u-image-2 {
  height: 196px;
  width: 205px;
  margin: 18px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 23px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 30px 3px;
}

.u-section-2 .u-image-3 {
  height: 196px;
  width: 205px;
  margin: 18px auto 0;
}

.u-section-2 .u-text-4 {
  margin: 23px auto 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 30px 3px;
}

.u-section-2 .u-image-4 {
  height: 196px;
  width: 205px;
  object-position: 50% 46.71%;
  margin: 18px auto 0;
}

.u-section-2 .u-text-5 {
  margin: 23px auto 0;
}

.u-section-2 .u-list-2 {
  grid-template-rows: repeat(1, auto);
  margin-top: 18px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-2 {
  grid-auto-columns: calc(25% - 7.5px);
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 306px;
  --gap: 10px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 25px 17px 30px;
}

.u-section-2 .u-image-5 {
  height: 159px;
  width: 248px;
  margin: 0 -13px;
}

.u-section-2 .u-text-6 {
  margin: 23px auto 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 25px 17px 30px;
}

.u-section-2 .u-image-6 {
  height: 159px;
  width: 248px;
  margin: 0 -13px;
}

.u-section-2 .u-text-7 {
  margin: 23px auto 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px 25px 17px 30px;
}

.u-section-2 .u-image-7 {
  height: 159px;
  width: 248px;
  margin: 0 -13px;
}

.u-section-2 .u-text-8 {
  margin: 23px auto 0;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px 25px 17px 30px;
}

.u-section-2 .u-image-8 {
  height: 159px;
  width: 248px;
  margin: 0 -13px;
}

.u-section-2 .u-text-9 {
  margin: 23px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 375px;
    grid-gap: 10px;
  }

  .u-section-2 .u-list-2 {
    margin-bottom: 9px;
  }

  .u-section-2 .u-repeater-2 {
    min-height: 252px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
  }

  .u-section-2 .u-list-2 {
    margin-bottom: 60px;
  }

  .u-section-2 .u-repeater-2 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 772px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-repeater-2 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-2 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-image-5 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-6 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-7 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-8 {
    margin-left: auto;
    margin-right: auto;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.55));
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 1113px;
}

.u-section-3 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  width: 740px;
  font-size: 1.25rem;
  margin: 21px auto 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: repeat(2, auto);
  margin: 29px 0 60px;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 20px);
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 604px;
  --gap: 30px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 30px 13px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 60px -9px 0 8px;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 30px 30px 13px;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-3 .u-text-6 {
  margin: 60px -9px 0 8px;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 30px 30px 13px;
}

.u-section-3 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-3 .u-text-8 {
  margin: 60px -9px 0 8px;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 30px 30px 13px;
}

.u-section-3 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-3 .u-text-10 {
  margin: 60px -9px 0 8px;
}

.u-section-3 .u-list-item-5 {
  background-image: none;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 30px 30px 13px;
}

.u-section-3 .u-icon-5 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-11 {
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-3 .u-text-12 {
  margin: 60px -9px 0 8px;
}

.u-section-3 .u-list-item-6 {
  background-image: none;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px 30px 30px 13px;
}

.u-section-3 .u-icon-6 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-13 {
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-3 .u-text-14 {
  margin: 60px -9px 0 8px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 915px;
  }

  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 20px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 498px;
    grid-gap: 30px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(50% - 15px);
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 858px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    width: 540px;
    font-size: 1.1111111111111112rem;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 617px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 6px;
  width: 113px;
  margin: 59px auto 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 3.75rem;
  width: 728px;
  margin: 20px auto 0;
}

.u-section-4 .u-accordion-1 {
  width: 713px;
  margin: 60px auto;
}

.u-section-4 .u-accordion-link-1 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: none;
  padding: 15px 30px;
}

.u-section-4 .u-icon-1 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-4 .u-accordion-pane-1 {
  min-height: 224px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 29px;
}

.u-section-4 .u-text-3 {
  font-size: 1.125rem;
  font-style: italic;
  margin: 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-accordion-link-2 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: none;
  padding: 15px 30px;
}

.u-section-4 .u-icon-2 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-4 .u-accordion-pane-2 {
  min-height: 195px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 29px;
}

.u-section-4 .u-text-4 {
  margin: 0;
}

.u-section-4 .u-accordion-link-3 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: none;
  padding: 15px 30px;
}

.u-section-4 .u-icon-3 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-4 .u-accordion-pane-3 {
  min-height: 224px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 29px;
}

.u-section-4 .u-text-5 {
  margin: 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-accordion-link-4 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: none;
  padding: 15px 30px;
}

.u-section-4 .u-icon-4 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-4 .u-accordion-pane-4 {
  min-height: 180px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-6 {
  margin: 0;
}

.u-section-4 .u-accordion-link-5 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: none;
  padding: 15px 30px;
}

.u-section-4 .u-icon-5 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-4 .u-accordion-pane-5 {
  min-height: 224px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-text-7 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-4 .u-accordion-link-6 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: none;
  padding: 15px 30px;
}

.u-section-4 .u-icon-6 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-4 .u-accordion-pane-6 {
  min-height: 224px;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-text-8 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-4 .u-accordion-link-7 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: none;
  padding: 15px 30px;
}

.u-section-4 .u-icon-7 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-4 .u-accordion-pane-7 {
  min-height: 224px;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px;
}

.u-section-4 .u-text-9 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-4 .u-accordion-link-8 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: none;
  padding: 15px 30px;
}

.u-section-4 .u-icon-8 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-4 .u-accordion-pane-8 {
  min-height: 224px;
}

.u-section-4 .u-container-layout-8 {
  padding: 30px;
}

.u-section-4 .u-text-10 {
  margin-bottom: 0;
  margin-top: 0;
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    width: 720px;
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-accordion-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-2 {
    width: 340px;
    font-size: 2.34375rem;
  }

  .u-section-4 .u-accordion-1 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 671px;
}

.u-section-5 .u-text-1 {
  margin: 29px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  margin: 51px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-text-3 {
  margin: 19px auto 0;
}

.u-section-5 .u-text-4 {
  margin: 19px auto 40px;
}

@media (max-width: 575px) {
  .u-section-5 .u-text-2 {
    width: auto;
    font-size: 1.25rem;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 426px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 75px auto 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 277px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-6 .u-social-icons-1 {
  height: 50px;
  width: 200px;
  min-width: 109px;
  margin: 84px auto 0;
}

.u-section-6 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
}

.u-section-6 .u-icon-2 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

.u-section-6 .u-icon-3 {
  height: 100%;
  color: rgb(218, 31, 50) !important;
}

.u-section-6 .u-icon-4 {
  height: 100%;
  color: rgb(220, 78, 65) !important;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 186px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-6 .u-text-1 {
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 228px;
  }

  .u-section-6 .u-social-icons-1 {
    min-height: 16px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 153px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 507px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 175px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 695px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 263px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-1 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 598px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 166px;
  }
} .u-section-7 {
  min-height: 692px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 692px;
}

.u-section-7 .u-container-layout-1 {
  padding: 29px 0;
}

.u-section-7 .u-text-1 {
  font-size: 3rem;
  margin: 139px auto 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 60px 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-btn-2 {
  background-image: none;
  margin-top: 0;
  padding: 0;
}

.u-section-7 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-text-3 {
  width: 90px;
  line-height: 1.4;
  margin: 60px auto 0;
}

.u-section-7 .u-text-4 {
  margin: 20px auto 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 692px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 571px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: -7px;
    margin-bottom: -7px;
  }

  .u-section-7 .u-layout-cell-1 {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 571px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 244px;
  }

  .u-section-7 .u-layout-cell-2 {
    background-position: 74.32% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 571px;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 437px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: -19px;
    margin-bottom: -19px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-text-1 {
    width: auto;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-3 {
    margin-right: 134px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 437px;
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 756px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: -91px;
    margin-bottom: -91px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 656px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 839px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: -1px;
    margin-bottom: -130px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 0;
  }

  .u-section-7 .u-text-2 {
    width: auto;
  }

  .u-section-7 .u-text-3 {
    margin-right: auto;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 413px;
  }
}